@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Manage my <a asp-controller="Course" asp-action="Index">courses</a> or <a asp-action="Create" asp-controller="Course">add a new course</a></p>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
